if user
  div.header
    div.username_text
      h1 Hello 
        b.username #{user.username} 

    a.headerButton(href='/home') home
    
    a.headerButton(href='/post/all') all posts
    
    - if (user.type == 'user') {
      a.headerButton(href='/post/new') new post
    - }
    
    a.headerButton(href='/interest/all') all interests
    
    - if (user.type == 'curator') {
    a.headerButton(href='/interest/new') new interest
    - }
    
    - if (user.type == 'moderator') {
      a.headerButton(href='/user/all') all users
    -}
    
    - if (user.type == 'moderator') {
    a.headerButton(href='/user/new') new user
    - }
    
    a.headerButton.deleteButton(href='/logout') logout
