include ../mixins/postCell

extends ../layout

block content
  h1 All Posts
  for post in posts
    +postCell(post.postid, post.title, post.username, post.interestname, user.type)
  else
    p No posts exist. 
      - if (user.type == 'user') {
        a(href='/post/new') Create one!
      - }

