extends ../layout

block content
  h1 Create Post
  form(action='/post/new', method='post')
    div
      h2 title
      br
      input(name='title')
    div
      h2 interest
      br
      select(name='interestname')
        for interest in interests
          option(value='#{interest.interestname}')= interest.interestname
    div
      h2 body
      br
      textarea(name='body', rows="10", cols="70")
    div
      input(type='submit', value='Submit')