extends ../layout

block content
  h1 Create a User
  form(action='/user/new', method='post')
    div
      label username
      input(name='username')
    div
      label password
      input(name='password', type='password')
    div
      label type
      select(name='type')
        option(value='user') user
        option(value='curator') curator
        option(value='moderator') moderator
    div
      input(type='submit', value='Submit')