mixin commentCell(postid, commentid, username, body)
  div.commentCell
    a.deleteButton(href='/post/#{postid}/comment/#{commentid}/delete') [delete]
    h4
      a(href='/user/#{username}/')= username
    p= body